body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

/* Header */
header {
  background: #020617;
  padding: 20px;
  text-align: center;
}

nav a {
  color: #38bdf8;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

/* Hero */
.hero {
  background: linear-gradient(to right, #0ea5e9, #1e293b);
  padding: 100px 20px;
  text-align: center;
}

/* Services */
#services {
  padding: 50px;
}

.service {
  display: flex;
  margin: 30px 0;
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
}

.service img {
  width: 50%;
  height: 300px;
  object-fit: cover;
}

.service div {
  padding: 20px;
}

.service h3 {
  color: #38bdf8;
}

/* Contact */
#contact {
  padding: 40px;
  text-align: center;
}

.map iframe {
  border-radius: 10px;
  margin-top: 20px;
}

/* Footer */
footer {
  background: #020617;
  padding: 10px;
  text-align: center;
}

/* Responsive */
@media (max-width: 768px) {
  .service {
    flex-direction: column;
  }

  .service img {
    width: 100%;
  }
}
